@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Share+Tech&display=swap');
body{
    background-image: linear-gradient(90deg, #183642, #000000);
}
.conteiner{
    background-color: #EAEAEA;
    height: 300px;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: 50px;
}
.cima h1 {
    font-family: "Archivo Black";
    text-align: center;
    color: #183642;
}
.cima p{
    font-family: "Share Tech";
    font-size: 20px;
    margin-top: -3%;
    text-align: center;
    
}
.conteudo {
    color:#a1d3e7;
    background-color: #0a151a;
    margin-top: 6%;
    border-radius: 7px;
    padding: 7px;
    text-align: justify;
}
.conteudo p{
    font-family: "Share Tech"; 
    font-size: 13px;
}
.conteiner2{
    background-color: #ffffff;
    margin: auto;
    margin-block-start: 3%;
    width: 400px;
    height: 250px;
    border-radius: 5%;
    padding: 18px;
    font-family: "Share Tech";
}
.conteiner2 h2{
    font-family: "Archivo Black";
    text-align: center;
    color: #183642;
    font-size: 19px;
}