@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Share+Tech&family=Story+Script&display=swap');
body{
    background-color: rgb(25, 13, 48);
}
h1{
    color:aliceblue;
    text-align: center;
    font-family: "Story Script";
}
h2{
    color: antiquewhite;
    font-family: "Archivo Black";
}
p{
    color: white;
    background-color: rgb(13, 6, 29);
    padding: 6px;
    border-radius: 5px;
}